@page
@model BookManagerWeb.Pages.HelpModel
@{
    ViewData["Title"] = "Help page";
}

<p>
    <b>Book Manager Application</b>
    is an application to manage purchased books. It is a web application built using .NET 8 Razor pages application.
    This app helps us to keep track of books that we have purchased.

</p>

<h3>Technologies used are listed below</h3>
<ul>
    <li>C# (.NET8)</li>
    <li>Razor pages application</li>
    <li>Azure ADB2C</li>
    <li>Microsoft SQL</li>
</ul>

<h3>Features supported are listed below</h3>
<ul>
    <li>User registration and sign-in</li>
    <li>Add new book by scanning the ISBN</li>
    <li>Add new book by providing all the details manually</li>
    <li>List all the purchased books</li>
    <li>Search book by title</li>
</ul>

<h3>Few screenshots of the application have been included for reference</h3>

<li>Landing screen</li>
<img src="./Images/Landing.jpg" class="custom-help-img" alt="landing screen" />

<br />
<br />

<li>Scan ISBN screen</li>
<img src="~/Images/Scan_Gif.gif" class="custom-help-gif" alt="Scan ISBN screen" />

<br />
<br />

<li>Add New Book screen</li>
<img src="./Images/AddBook.jpg" class="custom-help-img" alt="Add new book" />

<br />
<br />

<li>Index page listing all the books in the personal library</li>
<img src="./Images/Landing2.jpg" class="custom-help-img" alt="Index page listing all the books in the personal library" />

<br />
<br />

<li>Add Book manually screen</li>
<img src="./Images/AddBookManually.jpg" class="custom-help-img" alt="Add book manually screen" />











