@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BookManagerWeb.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
    <input style="float:right" type="submit" class="btn btn-primary" value="Add Book" />
</form>





<div>
    @foreach (var book in @Model.books)
    {
        <img id="book" src="data:image/jpg;base64, @book.Image" width="300" height="300" />
    }

</div>